<html {% load static %}>

<head>
  <title>Buscopolis</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="{% static 'DjangoUniApp/img/logo.jpg'%}">
    {% load static%}

    <!-- Bootstrap -->
    <link href="{% static 'DjangoUniApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'DjangoUniApp/css/gestionGrupos.css'%}" rel="stylesheet">
</head>

<body>
  <!-- Heading -->
  <header>
    <nav>
      <ul>
        <div>
            <img class="imgHeader" src="{% static 'DjangoUniApp/img/BUSCOPOLI-03.jpg'%}" alt="imagen 2">
            <a class="boton transparente"  target="blank" ><h2 class="blanco">Mi Perfil</h2>
            <a href="#"><img class="imgfooter3" src="{% static 'DjangoUniApp/img/logos/user.png'%}" alt=""></a>
        </div>
        <div >
            <table id="tabla2">
                <tr>
                  <th><a class="boton large btn btn-outline-light btn-floating m-1 enlaces"  target="blank" href="#">Investigacion en Servicio Escrito</a></th>
                  <th><a class="boton large btn btn-outline-light btn-floating m-1 enlaces"  target="blank" href="#">Formacion Investigativa</a></th>
                  <th><a class="boton large btn btn-outline-light btn-floating m-1 enlaces"  target="blank" href="#">Grupo</a></th>
                  <th><a class="boton large btn btn-outline-light btn-floating m-1 enlaces"  target="blank" href="#">Convocatoria</a></th>
                </tr>
            </table>
        </div>
        <div id="main-container">
          <table class="tabla">
            <thead style="border-radius: 100%;">
              <th>Codigo</th>
              <th>Nombre del Grupo  </th>
              <th>Area de conosimiento  </th>
              <th>Clasificacion Minciencias </th>
              <th>fecha de Formacion  </th>
              <th>Lider </th>
              <th>Segundo Lider </th>
              <th>GrupoLac  </th>
              <th>Linea de investigacion  </th>
            </thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
        </div>
      </ul>
    </nav>
  </header>
  
  <!-- <div class="container">
    <div class="cat2">
      <form action="javascript:void(0);" method="get">			
        <fieldset class="busquedas">
          <input class="buscar" type="search" id="search" placeholder="Buscar ...">
          <a class="btn enlaces busqueda" href="#" target="_blank">
            <img class="imgfooter2" src="{% static 'DjangoUniApp/img/logos/lupa.png'%}" alt=""></a>
        </fieldset>
      </form>
      <div style="margin-bottom: 10px;" >
        <a class="boton large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank">investigacion en servicio escrito</a>
      </div>
      <div style="margin-bottom: 10px;">
        <a class="boton large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank" >Convocatorias</a>
      </div>
      <div style="margin-bottom: 10px;">
        <a class="boton orange large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank" >Grupos</a>
      </div>
    </div>
  </div> -->

</body>



</html>

