<html {% load static %}>

<head>
  <title>Buscopolis</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="{% static 'DjangoUniApp/img/logo.jpg'%}">
    {% load static%}

    <!-- Bootstrap -->
    <link href="{% static 'DjangoUniApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'DjangoUniApp/css/gestion.css'%}" rel="stylesheet">
</head>

<body>
  <!-- Heading -->
  <header>
    <nav>
      <ul>
        <a><img class="imgfooter3" src="{% static 'DjangoUniApp/img/logos/logomariana.png'%}" alt=""></a></a>
        <a href="#"><img class="imgfooter3" src="{% static 'DjangoUniApp/img/logos/user.png'%}" alt=""></a></a>
      </ul>
    </nav>
  </header>

  <div class="cat" >
    <img class="img2" src="{% static 'DjangoUniApp/img/BUSCOPOLI-03.jpg'%}" alt="imagen 2">
  </div>
  
  <div class="container">
    <div class="cat2">
      <form action="javascript:void(0);" method="get">			
        <fieldset class="busquedas">
          <input class="buscar" type="search" id="search" placeholder="Buscar ...">
          <a class="btn enlaces busqueda" href="#" target="_blank">
            <img class="imgfooter2" src="{% static 'DjangoUniApp/img/logos/lupa.png'%}" alt=""></a>
        </fieldset>
      </form>
      <div style="margin-bottom: 10px;" >
        <a class="boton large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank">investigacion en servicio escrito</a>
      </div>
      <div style="margin-bottom: 10px;">
        <a class="boton large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank" >Convocatorias</a>
      </div>
      <div style="margin-bottom: 10px;">
        <a class="boton orange large btn btn-outline-light btn-floating m-1 enlaces" href="#" target="_blank" >Grupos</a>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <footer class="text-center text-white">
      <div class="container p-4 pb-0">
  
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1 enlaces" href="https://es-la.facebook.com/UniversidadMariana.Pasto/" target="blank" role="button">
              <img class="imgfooter" src="{% static 'DjangoUniApp/img/logos/facebook.png'%}" alt="">
          </a>
          <a class="btn btn-outline-light btn-floating m-1 enlaces" href="https://www.instagram.com/universidadmariana/?hl=es" target="blank" role="button">
              <img class="imgfooter" src="{% static 'DjangoUniApp/img/logos/instagram.png'%}" alt="">
          </a>
          <a class="btn btn-outline-light btn-floating m-1 enlaces" href="https://twitter.com/UMarianaPasto" target="blank" role="button">
              <img class="imgfooter" src="{% static 'DjangoUniApp/img/logos/twitter.png'%}" alt="">
          </a>
          <a class="btn btn-outline-light btn-floating m-1 enlaces" href="https://www.youtube.com/channel/UCt7rVCDmiR9SxBgtDT6O1SA" target="blank" role="button">
              <img class="imgfooter" src="{% static 'DjangoUniApp/img/logos/youtube.png'%}" alt="">
          </a>
          <a class="boton transparente btn" href="https://www.umariana.edu.co/direccion-investigaciones/" target="blank" ><h2>@unimareditorial</h2>
          </a>
        </section>
      </div>
    </footer>

</body>



</html>

