body {
    font-family: 'Lora';
    background: url("../img/fondoResultado.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 50px;
    background-size: 100% 100%;
  }

  #main-container{
    margin: 13% auto;
    width: 90%;

  }

  body {
    margin: 0;
    margin-bottom: 40px;
  }
  
  .form{
    display: flex;
    width: 100px;
  }
   
  .boton{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color:#0f3b5e;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:40px;
    background-color:#c9c9c936;
    border-color: #c4c4c4;
    border-width: 3px;
    border-style: initial;
    border-radius:10px;
    box-shadow: 2px 2px 0px #373c3c;
  }
  
  .tabla{
    width: 100%;
    text-align: left;
    background-color: rgb(212, 212, 212);
    border-collapse: collapse;
  }

  thead{
    background-color:  #0d7087;
    border-bottom: solid 50px #fff;
    color: #fff;
  }

  .boton.transparente{
    background-color:transparent;
    box-shadow: 0px 0px 0px #373c3c;
  }
  
  
  .imgHeader2{
    width: 100%;
    margin-right: 0%;
  }

  .imgHeader{
    width: 15%;
    margin-right: 40%;

  }

  header {
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-top: 0%;
  }
  
  .blanco{
    background-color: transparent;
    color: #fff;
    width: 100%;
    margin: 10%;
  }

  .botonHeader{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color:#0f3b5e;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:40px;
    background-color:#c9c9c936;
    border-color: #c4c4c4;
    border-width: 3px;
    border-style: initial;
    border-radius:10px;
    box-shadow: 2px 2px 0px #373c3c;
    margin-right: 10%;
  }

  
  .imgfooter{
    width: 60%;
    height: 15%;
  }

  .imgf1{
    width: 115%;
  }

  .imgf2{
    width: 380%;
  }

  .imgf3{
    width: 100%;
  }
  
.contenedor{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 80%;
    margin-top: 8%;
}

.contenedor1{
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-top: 0%;
}

.centrado{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 10%;
    width: 95%;
    height: 45%;
}

.tamano{
  width: 65%;
  margin-left: 5%;
  height: 74%;
}

.buscar{
  text-decoration:none;
  font-weight: 0;
  font-size: 100%;
  color:#333333;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:2%;
  padding-right:18%;
  background-color:#ffffff;
  border-color: #ffffff;
  border-width: 3%;
  border-style: initial;
  border-radius:10px;
  box-shadow: 2px 2px 2px #373c3c;
  width: 65%;
}

.buscar1{
  text-decoration:none;
  font-weight: 0;
  font-size: 100%;
  color:#333333;
  padding-top:2%;
  padding-bottom:2%;
  padding-left:2%;
  padding-right:18%;
  background-color:#ffffff;
  border-color: #ffffff;
  border-width: 3%;
  border-style: initial;
  border-radius:10px;
  box-shadow: 2px 2px 2px #373c3c;
  width: 65%;
}

.blanco{
  background-color: transparent;
  color: #0f3b5e;
  width: 100%;
  margin: 10%;
}

.blanco1{
  background-color: transparent;
  color: #0f3b5e;
  width: 100%;
  margin: 3%;
}

.busquedas{
  width: 16%;
  margin-left: 72%;
  margin-top: -2%;
}

.cuadro{
    width: 90%;
    text-align: left;
    background-color: #f2f4f3;
    border-collapse: collapse;
    margin-left: 0%;
    margin-top: 3%; 
    border-radius:30px;
    box-shadow: 10px 10px 9px #e3eef2;
  }

  .cuadro2{
    width: 90%;
    margin-left: 5%;
  }  

  .buscar1.large{
    font-size: 100%;
    width: 250%;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -220%;
    margin-top: 15%;
  }

  .tdtama{
    width: 10%;
  }

  .buscar.large{
    font-size: 100%;
    width: 95%;
    margin-left: 1%;
  }

  .buscar.large1{
    font-size: 550%;
    width: 95%;
    margin-left: 1%;
  }

  .blanco.top{
    margin-top: 15%;
  }